.reveal .progress span {
	background: rgb(255, 140, 0);
}

.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: rgb(255, 140, 0); }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: rgb(255, 140, 0); }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: rgb(15, 147, 249); }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: rgb(15, 147, 249); }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #f3d7ac; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #f3d7ac; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #f3d7ac; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #f3d7ac; }
  
.reveal h1 {
  font-size: 1.8em;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	color: white;
	text-align: left;
	padding-bottom: 30px;
}

.reveal p,
.reveal .slides {
    text-align: left;
}

.reveal .slides section {
    height: 400px;
}


.header {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.10);
    padding: 5px 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.logo {
  display: block;
  float: left;
}

#logo {
  content: url('../img/logo.svg');
}

/* prevent title to be shown */
.level1 h1 {
  display: none;
}

.level2 {
    top: -80px !important;
}

.title {
  display: block;
  position: relative;
  float: right;
}

.title h1 {
  margin: 30px 30px 30px 30px;
  color: #eaeaea;
  font-family: helvetica,arial,freesans,clean,sans-serif;
  line-height: 0.9em;
  letter-spacing: -0.03em;
  text-transform: none;
  text-shadow: none;
}

.odd, .even {
    color: #ffffff;
}

.reveal section img {
  border: 0px;
}

.reveal ul {
    list-style-type: none;
}

.reveal .slides > section, .reveal .slides > section > section {
   padding: 30px 0px;
}
